.home-mc{
    width: 75vw;
    margin-left: 13vw;
}

.home-mi{
    width: 33vw;
    height: 85vh;
    margin: 20px;
}

.home-p{
    font-size: 1.7rem;
}

.next-btn{
    padding: 1rem 2rem;
    margin: 2rem auto;
    display: block;
    text-transform: uppercase;
}

.home-lci, .home-lei{
    margin: 20px;
}

h2{
    font-size: 2rem;
}

.home-img{
    display: inline-block;
    padding: 1rem;
    margin: 1rem;
}

@media screen and (max-width: 600px) {
    
.home-mi{
    width: 33vw;
    height: 40vh;
    margin: 5px;
}

.home-p{
    font-size: 1.2rem;
}

h2{
    font-size: 1.5rem;
}

.home-img{
    width: 40vw;
}
}